.watchlistmaincontainer {
  width: 250px;
  height: 350px;
  border-radius: 10px;
  margin: auto auto;
  box-shadow: 0 2px 5px #ccc;
}

.watchlistheaddingcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: 50px;
}

.watchlistheadding {
  font-size: 1.8rem;
}

.watchlistcontainer {
  display: flex;
  flex-direction: row;
  width: 200px;
  height: 60px;
  box-shadow: 0 1px 0 0 grey;
  align-items: center;
  margin: auto auto;
}

#watchlast {
  box-shadow: none;
}

.watchlistimage {
  height: 40px;
  width: 40px;
}

.watchlistcompanycontainer {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.watchlistcompanyname {
  font-weight: 600;
}

.watchliststockname {
  font-size: 0.8rem;
  color: grey;
  font-weight: 500;
}

.watchlistpricecontainer {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  padding-right: 10px;
}

.watchliststockprice {
  font-weight: 600;
  font-size: 0.9rem;
}

.watchstockpercentage {
  font-size: 0.8rem;
}
